extends layout

block content
  h1.text-center.mt-5.mb-3= title

  if author_list.length
    ul.list-group.list-group-flush
      each author in author_list
        li.list-group-item
          div.d-flex.justify-content-between
            a(href=author.url) #{author.name}
            |  Date:  #{author.date_of_birth_formatted}
  else
    p There are no authors.
