extends layout

block content
  h1.text-center.mt-5.mb-3= title

  if genre_list.length
    ul.list-group
      each genre in genre_list
        li.list-group-item
          a.link-underline.link-underline-opacity-0(href=genre.url) #{genre.name}
  else
    p There are no genres.
