doctype html
html(lang=en)

  head
    title= title
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(language="javascript" src="/js/bootstrap.bundle.js")
    link(rel="stylesheet" href="/css/bootstrap.min.css")

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(class='container')
      nav(class='navbar navbar-expand-lg bg-secondary-subtle p-2 rounded')
        block sidebar
          a(class='navbar-brand' href='#') LOCAL
          button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span(class='navbar-toggler-icon')
          div(class="collapse navbar-collapse" id="navbarNav")
            ul(class='navbar-nav')
              li(class='nav-item active')
                a(class='nav-link link-body-emphasis' href='/catalog') Home
              li(class='nav-item')
                a(class='nav-link link-body-emphasis' href='/catalog/books') Books
              li(class='nav-item')
                a(class='nav-link link-body-emphasis' href='/catalog/authors') Authors
              li(class='nav-item')
                a(class='nav-link link-body-emphasis' href='/catalog/genres') Genres
              li(class='nav-item')
                a(class='nav-link link-body-emphasis' href='/catalog/bookinstances') Instances
              li(class='nav-item dropdown')
                a(class="nav-link dropdown-toggle link-body-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Create

                ul(class="dropdown-menu")
                  li
                    a(class='dropdown-item' href='/catalog/author/create') Author
                  li
                    a(class='dropdown-item' href='/catalog/genre/create') Genre
                  li
                    a(class='dropdown-item' href='/catalog/book/create') Book
                  li
                    a(class='dropdown-item' href='/catalog/bookinstance/create') Instance

    div(class='container')
      block content
